@import 'general';

div.page-container {
  margin: 0;
}

body {
  margin: 0;
}

.project-pages {
  padding-left: 15%;
  padding-right: 15%;
  color: $textColor;
  margin-top: 30px;
  color: $textColor;
  .header {
      font-family: $titleFont;
      font-size: 30px;
      font-weight: 600;
    }

  .paragraph {
    margin-top: 4px;
    margin-bottom: 10px;
  }
}

.about-container {
  display: flex;
  color: $textColor;

  img {
    margin: 40px 20px 30px 70px;
    display: inline-block;
    height: 150px;
  }

  .self-description-container {
    width: 600px;
    font-family: $textFont;
    margin:30px 30px 10px 10px;
    //line-height: 27px;
    font-size: 14px;
    display: inline-block;

    .paragraph {
      margin-top: 4px;
      margin-bottom: 10px;
    }

    .semibold {
      font-weight: 600;
    }

    .my-name {
      font-family: $titleFont;
      font-size: 30px;
      font-weight: 600;
    }

    a {
      @include link();
    }
  }
}

.research-section {
  padding-left: 15%;
  padding-right: 15%;
  color: $textColor;
  margin-top: 30px;

  .section-title {
    @include section-title();
  }

  .publication_preview {
    display: flex;
    margin: 10px 20px;
    font-family: $textFont;
    font-size: 14px;

    .thumbnail {
      align-self: left;
      img {
        width: 200px;
      }
      margin-top: 16px;
    }

    .descriptions {
      margin: 10px 10px 10px 30px;
      align-self: right;
      .title {
        font-weight: 700;
      }

      .author {
        b {
          font-weight: 600;
        }
      }

      .conference {
        div {
          display: inline;
          font-style: italic;
        }
      }

      .description {
        margin-top: 16px;
      }

      .links {
        margin-top: 10px;
        a {
          margin-right: 15px;
          padding: 3px 10px;
          background: darkgray;
          border-radius: 4px;

          font-family: $titleFont;
          text-decoration: none;
          color: white;

          &:hover {
            background: $highlightBlockColor;
          }
        }
      }
    }
  }
}

.awards-section {
  padding-left: 15%;
  padding-right: 15%;
  margin-top: 20px;
  color: $textColor;

  .section-title {
    @include section-title();
  }

  .awards {
    max-width: 600px;
    margin: 10px 20px;
    font-family: $textFont;
    font-size: 14px;

    .award-preview {
      margin-bottom: 14px;

      .title {
        font-weight: 600;

        a {
          text-decoration: none;
          color: $textColor;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.community-section {
  padding-left: 15%;
  padding-right: 15%;

.conference-attendance-info {

  max-width: 600px;
  margin: 10px 20px;
  font-family: $textFont;
  font-size: 14px;
  color: $textColor;

  .sec-title {
    margin-top: 6px;
    text-decoration: none;
    font-weight: 600;
  }

  .info {
    margin: 0;

    .info-line {
      display: flex;

      .item {
        width: 600px;
      }
    }
  }
}

.teaching-section {

  margin-top: 20px;
  color: $textColor;

  .teaching {
    max-width: 600px;
    margin: 10px 20px;
    font-family: $textFont;
    font-size: 14px;

    .sec-title {
    margin-top: 6px;
    text-decoration: none;
    font-weight: 600;
  }

    .preview {
      margin-bottom: 14px;

      .title {
        font-weight: 600;

        a {
          text-decoration: none;
          color: $textColor;
          &:hover {
            text-decoration: underline;
          }
        }
      }

      .descriptions {
        ul {
          margin: 0;

          li {

          }
        }
      }
    }
  }
}
}

.project-section {
  color: $textColor;
  margin-top: 30px;
  padding-left: 15%;
  padding-right: 15%;

  .section-title {
    @include section-title();
  }

  .project-list {
    display: flex;
    flex-wrap: wrap;
    .project-preview {
      width: 360px;
      margin: 20px 20px;
      font-family: $textFont;
      font-size: 14px;

      .thumbnail {
        img {
          width: 360px;
          height: 240px;
          border-radius: 8px;
        }
      }

      .descriptions {
        margin-top: 6px;
        a {
          @include link();
        }

        .skill {
          font-weight: 300;
          font-style: italic;
          margin-bottom: 3px;
        }
        .partner {
          font-weight: 300;
          font-style: italic;
          margin-bottom: 3px;
        }
        .title {
          font-weight: 700;
          margin-bottom: 6px;
        }

        .description {
        }
      }
    }
  }
}
